{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Kalypso/css/home.css' %}">
</head>
<body>
    <main>
        <div class="content">
            <h3>Install Ollama™</h3>
            <p>Before you can use Ollama™, you need to install it. Click the button below to install Ollama™.</p>
            <a href="https://ollama.com"><button>Install Ollama™</button></a>
        </div>

        <div class="content">
            <h3>Already Installed?</h3>
            <p>Let's us check if a Model is installed on your device.</p>
            <a href=""></a>
        </div>
    </main>
</body>
</html>